html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p,
blockquote, pre, form, fieldset, table, th, td { 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: #fff;
    border-top: .5em solid #666;
    color: #333;
    font-family: georgia, serif;
}

h1 { 
    font-size: 2em;
    line-height: 1.5em;
}

a {
    font-weight: normal;
    text-decoration: none;
}

a:link {
    color: #c00;
}

a:visited {
    color: #666;
}

a:hover, a:active {
    color: #333;
}

p {
    line-height: 1.5em;
}

ul {
    list-style: none;
}

/*----------------------------------------*/

.hidden {
    display: none;
}

.indent {
    margin-left: 1em;
}

.Indent {
    margin-left: 2em;
}

.INDENT {
    margin-left: 4em;
}

.bordered {
    border: 1px solid #999;
}

.inline {
    display: inline;
}

.clear {
    clear: both;
}

.stretchColumn {
    width: 100%;
}

/*----------------------------------------*/

#page {
    margin: 0 3px 0 3px;
}

#title {
    display: inline;
    float: left;
    font-family: verdana, sans-serif;
}

#connButton {
    cursor: pointer;
    text-decoration: underline;
}

#showDevPanelButton {
    float: right;
}

#devPanel {
    background-color: #eee;
    border: 1px solid #999;
    display: inline;
    left: 3px;
    min-height: 20em;
    min-width: 30em;
    opacity: .98;
    position: absolute;
    top: .5em;
}

#devPanel h3 {
    display: inline;
    float: left;
    margin: 3px 0 7px 3px;
}

#devPanel a {
    margin-right: 1em;
}

#hideDevPanelButton {
    float: right;
}

#app {
    clear: both;
}

#torrentList {
    display: block;
    min-height: 8em;
}

#torrentList thead td {
    border-bottom: 1px solid #333;
    font-weight: bold;
    min-width: 6em;
    text-align: center;
    cursor: pointer;
}

/*#torrentList thead td.sortedAscending {
    background-color: #ffb;
}

#torrentList thead td.sortedDescending {
    background-color: #eff;
}*/

#torrentList tbody tr:hover {
    background-color: #edd;
    cursor: pointer;
}

#torrentList tbody tr.active {
    background-color: #ddd;
}

#torrentList .downloaded,
#torrentList .size,
#torrentList .complete,
#torrentList .time,
#torrentList .speed {
    text-align: right;
}

#info {
    margin: 1em 0 0 0;
    padding: 0;
    min-height: 24em;
}

#info #tabs {
    border-bottom: 1px solid #333;
    margin-bottom: .8em;
}

#tabs li {
    display: inline;
    cursor: pointer;
    padding-right: 1em;
}

#tabs li a {
    color: #333;
    font-weight: bold;
    padding: .1em .1em 0 .1em;
}

#tabs .active {
    background-color: #ddd;
}

table.dopad td {
    padding-right: 1.6em;
}

#info td.label {
    padding-right: .8em;
}

#downloadedBarC, #availabilityBarC {
    /* border: 1px inset #666; */
    width: 100%;
}

#downloadedBar, #availabilityBar {
    margin-bottom: -4px;
    margin-right: 8px;
}

#info div {
    padding: .2em;
}

#info div h3 {
    background-color: #eee;
    font-size: 1em;
    margin: 1em 0 0 0;
}

#fileList thead td, #trackerList thead td,
#peerList thead td, #pieceList thead td {
    background-color: #eee;
    min-width: 6em;
    padding: 0;
    cursor: pointer;
}

/* Be specific or this setting is overwritten. */
#trackerList thead #trackerStatusColumn {
    min-width: 9em;
}

/* Be specific or this setting is overwritten. bis. */
#peerList thead #peerClientColumn {
    min-width: 16em;
}

#footer {
    border-top: 1px solid #aaa;
    font-size: .8em;
    margin-top: 3em;
    text-align: center;
}

#footer ul {
    margin: .3em 0 0 0;
}

#footer li {
    display: inline;
    margin-right: .4em;
}

#footer li:first-child:before {
    content: "";
}

#footer li:before {
    content: "|";
    margin-right: .4em;
}
